body{
    background-color: rgb(255, 255, 255);
    width: 100%;
  
}header{
    background-color: rgb(136, 252, 59);
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20PX;
}footer{
    background-color: rgb(136, 252, 59);
padding-bottom: 20px;
padding-top: 10px;
padding-left: 10px;}
main{display: flex;}
section{flex: 1 ;
background-color: rgb(233, 255, 219);
height: 300px;}
p{flex: 1;
    padding-right: 10px;
    padding-left: 10px;}   
aside{flex: 1;
background-color: rgb(233, 255, 219);}
